.addchat{
    cursor: pointer;
    color: #34750f;
    background-color: #caef99e3;
    border: none;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:11px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 5px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 40px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.searchbar{
    margin-top: 25px;
}
.USERSDIV{
    margin: 10px;
    margin-top: 15px;
    padding: 5px;
}
.USERSDIV ul li {
    padding-top: 10px;
    padding-left: 4px;
    border-top: 1px solid black;
}