<div class="col-sm-auto bg-primary-subtle sticky-top"style="height: 100vh;overflow-y: auto;">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-primary-subtle align-items-center sticky-top" style="height: 100%;">
        <a routerLink="/dashboard/chats" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-original-title="Icon-only">
            <i class="bi bi-house-door-fill fs-1"></i>
        </a>
        <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item">
                <a routerLink="/dashboard/profile" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="profile">
                    <i class="bi bi-person-circle fs-2"></i>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/chats" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="messages">
                    <i class="bi bi-chat-text fs-2"></i>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/bookmarks" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="bookmarks">
                    <i class="bi bi-bookmarks fs-2"></i>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/notifications" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="notifications">
                    <i class="bi bi-bell fs-2"></i>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/settings"class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-original-title="settings">
                    <i class="bi bi-gear fs-2"></i>
                </a>
            </li>
        </ul>
        <div class="dropdown mt-auto">
            <a href="#"
                class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-person-circle h2"></i>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style=" z-index: 1000;">
                <li><a class="dropdown-item" routerLink="/dashboard/profile">profile</a></li>
                <li><a class="dropdown-item" routerLink="/dashboard/settings">setting</a></li>
                <li><a class="dropdown-item" (click) = "logout()">logout</a></li>
            </ul>
        </div>
    </div>
</div>
 